/coverage
/dist
node_modules

# System
.DS_Store

# Nx
/.nx/cache
/.nx/workspace-data
/migrations.json
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Vite
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Storybook
storybook-static

# Playwright
test-results
